<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Solutions Mechanism Guide</title>
    <script type="text/javascript">
        window.urlParams = <%- JSON.stringify(locals.urlParams)%>;
        window.dashboard = <%- JSON.stringify(locals.dashboard)%>;
    </script>
    <script type="text/javascript" src="/js/libs/jquery-1.11.0.min.js?v=<%= locals.filesVersion %>"></script>
    <script type="text/javascript" src="/js/libs/jquery.form.min.js?v=<%= locals.filesVersion %>"></script>
    <script type="text/javascript" src="/js/libs/jquery.dotdotdot.min.js?v=<%= locals.filesVersion %>"></script>
    <script type="text/javascript" src="/js/libs/zclip/jquery.zclip.min.js?v=<%= locals.filesVersion %>"></script>
    <script type="text/javascript" src="/js/libs/ckeditor/ckeditor.js?v=<%= locals.filesVersion %>"></script>
    <script type="text/javascript" src="/js/libs/ckeditor/adapters/jquery.js?v=<%= locals.filesVersion %>"></script>
	<script type="text/javascript" src="/js/libs/select2.js?v=<%= locals.filesVersion %>"></script>
    <script type="text/javascript" src="/js/script.js?v=<%= locals.filesVersion %>"></script>
    <script type="text/javascript" src="/js/libs/jquery.jqtransform.js?v=<%= locals.filesVersion %>"></script>
    <script type="text/javascript" src="/js/libs/icheck.js?v=<%= locals.filesVersion %>"></script>
    <script type="text/javascript" src="/js/libs/slick.js?v=<%= locals.filesVersion %>"></script>
    <script type="text/javascript" src="/js/libs/jquery.selectric.js?v=<%= locals.filesVersion %>"></script>
    <script type="text/javascript" src="/js/libs/knockout-3.1.0.js?v=<%= locals.filesVersion %>"></script>
    <script type="text/javascript" src="/js/libs/knockout.validation.min.js?v=<%= locals.filesVersion %>"></script>
    <script type="text/javascript" src="/js/libs/knockout.mapping-latest.js?v=<%= locals.filesVersion %>"></script>
    <script type="text/javascript" src="/js/libs/underscore-min.js?v=<%= locals.filesVersion %>"></script>
    <script type="text/javascript" src="/js/libs/async.js?v=<%= locals.filesVersion %>"></script>
    <script type="text/javascript" src="/js/bindings.js?v=<%= locals.filesVersion %>"></script>
    <script type="text/javascript" src="/js/app.js?v=<%= locals.filesVersion %>"></script>
    <link rel="stylesheet" type="text/css" href="/css/slick.css?v=<%= locals.filesVersion %>">
    <link rel="stylesheet" type="text/css" href="/css/style.css?v=<%= locals.filesVersion %>">
	<link rel="stylesheet" type="text/css" href="/css/select2.css?v=<%= locals.filesVersion %>">
    <!--[if IE 8]>
    <link href="/css/iestyle8.css" rel="stylesheet" type="text/css?v=<%= locals.filesVersion %>" />
    <![endif]-->
</head>